/* .mainApp {
  background-image: url("./Components/adobe-spark-post.png");
  min-height: 1000px;
  max-width: auto;
} */

h1 {
  border-color: black;
  border-style: double;
}
div {
  overflow: scroll;
}
.articleTile {
  z-index: 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.li_article_list {
  border-radius: 10%;
  margin: 20px auto;
  background-color: grey;
  width: 350px;
  height: 385px;
  justify-content: center;
  list-style: none;
  color: black;
  display: grid;
  grid-template-rows: 100px 50px 50px 50px 50px 50px 50px;
  grid-template-areas: "one" "two" "three" "four" "five" "six" "seven";
}

.li_article_title {
  grid-area: one;
}

.li_article_topic {
  grid-area: two;
}
.li_article_author {
  grid-area: four;
}

.li_article_readMore {
  background: teal;
  grid-area: four;
  height: 30px;
  width: 80px;
  border-radius: 20px;
}
.li_article_comments {
  grid-area: five;
}
.li_article_created_at {
  grid-area: seven;
}

.li_article_list:hover {
  opacity: 70%;
}
a {
  text-decoration: none;
}

.commentTile {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.li_comment_list {
  border: black;
  border-radius: 10%;
  margin: 20px auto;
  background-color: grey;
  width: 350px;
  height: 350px;
  justify-content: center;
  list-style: none;
  color: black;
}

.TopicTile {
  z-index: 0;
  display: block;
  justify-content: space-around;
  flex-wrap: wrap;
}
.li_topic_list {
  border: black;
  border-radius: 10%;
  margin: 20px auto;
  background-color: whitesmoke;
  width: 70px;
  height: 30px;
  justify-content: center;
  list-style: none;
  color: black;
  padding-top: 20px;
}

.navBar {
  height: 40px;
  width: 100px;

  display: flex;
  flex-direction: row;
}
.navArticles {
  background: black;
  color: white;
  height: 40px;
  width: 70px;
}
.navTopics {
  background: black;
  color: white;
  height: 40px;
  width: 70px;
}
.navUser {
  background: black;
  color: white;
  height: 40px;
  width: 70px;
}
.navHome {
  background: black;
  color: white;
  height: 40px;
  width: 70px;
}

.li_article_Id_list {
  border: black;
  border-radius: 10%;
  margin: 20px auto;
  background-color: grey;
  width: 800px;
  height: 450px;
  justify-content: center;
  list-style: none;
  color: black;
  float: center;
  display: grid;
  grid-template-rows: 2fr 4fr 2fr 1.5fr 1.5fr;
  grid-template-areas: "one" "two" "three" "four" "five";
}
.article_Id_Tile {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.li_article_Id_topic {
  grid-area: one;
  float: center;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 0px;
}
.li_article_Id_body {
  grid-area: two;
}
.button_votes {
  grid-area: three;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
}
.li_article_Id_author {
  grid-area: four;
  margin-top: 10px;
  margin-bottom: 10px;
}
.li_article_Id_comments {
  grid-area: five;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 45px;
}
.li_article_Id_createdAt {
  grid-area: five;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 80px;
  /* margin-top: 5px; */
}

.li_user_name {
  text-decoration: none;
}
.li_user_avatar {
  text-decoration: none;
}
li {
  text-decoration: none;
}
.articleIdH1 {
  padding: 0px;
  margin: 5px 5px 5px 5px;
  height: 100px;
}

@media only screen and(max-width:600px) {
  .articleIdH1 {
    padding: 0px;
    margin: 5px 5px 5px 5px;
    height: 200px;
  }
}
